* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 40px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #ffffff;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    display: grid;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    background: white;
    border-bottom: 1px solid #ddd;
}

.logo_circle{
    display: flex;
    justify-content: left;
    align-items: left;
}

.navigation-bar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navigation-bar li a{
   display: block;
   color: black;;
   padding: 0px 16px;
   text-decoration: none;
}

.navigation-bar li a.active{
    background-color: grey;
    color: white;
}

.navigation-bar a:hover:not(.active){
    background-color: grey;
    color: white;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons{
    justify-content: right;
    align-items: right;
    display: flex;
    gap: 1rem;
    float: right;
}

.login-button, .register-button{
    text-decoration: none;
    padding:.7rem 0.5rem;
    border-radius: 8px;
}

.login-button{
    color: grey;
    border: 0.5px;
    border-style: solid;
    border-color: grey;
}

.register-button{
    color: white;
    background: #F47C20;
    border: 0.5px;
    border-style: solid;
    border-color: #F47C20;
}

.main{
    margin: 60px;
    padding: 0px;
}
.hero{
    display: grid;
    gap: 2rem;
    padding: 2rem;
}

.hero-image{
    display: block;
    margin: auto;
    width: 100%;
    float: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tag{
    color: #F47C20;
    font-weight: bold;
}

.hero h1{
    font-size: clamp(2rem, 6vw, 4rem);
    line-height: 1.2;
}

.description{
    font-size:1rem;
}

.search-form{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.search-form input{
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.search-form button{
    padding: 1rem;
    border-radius: 8px;
    border: none;
    background: #F47C20;
    color: white;
    cursor: pointer;
}
